#leftnav {
    border-right: 1px solid blue;
    box-sizing: border-box;
    height: 100vh;
    padding: 0px;
    padding-top: 40px;
    text-align: center;
}
#leftnav_trigger {
    position: absolute;
    display: block;
    top: 0px;
    right: 0px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    background-image: url("/assets/images/hamburger.png");
    background-size: 100%;
}
.filter_category {
    width: 100%;
    border-top: 1px solid darkblue;
    
    padding: 5px;
    text-align: center;
}
.filter_category_header {
    text-align: center;
    font-size: 18px;
}
.filter_options {
    text-align: left;
    margin-top: 10px;
}
#main {
    padding: 100px;
    box-sizing: border-box;
}
label {
    margin-bottom: 0px;
}
h2 {
    text-align: center;
}
#datetime-selector {
    margin-bottom: 30px;
}
#new_reservation_details input {
    margin-left: 100px;
}